<table class="c-table c-table--striped c-table--clickable" style="padding: 5px; height: 30%;">
	<caption class="c-table__caption .u-center-block">TASKS
		<blaze-accordion>
			<blaze-accordion-pane class="addbutton" header="Add Task">
				<div class="o-grid">
					<div class="o-grid__cell o-grid__cell--width-70 c_cell">
						<div class="o-grid__cell cell">
							<input class="c-field" placeholder="Name" type="text" id="Name" />
						</div>
						<div class="o-grid__cell cell">
							<input class="c-field" placeholder="Description" type="text" id="Description" />
						</div>
					</div>

					<div class="o-grid__cell o-grid__cell--width-30 c_cell">
						<div class="o-grid__cell cell">
							<input class="c-field" placeholder="status" type="number" id="status" />
						</div>
						<div class="o-grid__cell cell">
							<input class="c-field" placeholder="priority" type="number" id="priority" />
						</div>
						<div class="o-grid__cell cell">
							<input class="c-field" placeholder="DaysLeft" type="number" id="DaysLeft" />
						</div>
					</div>
				</div>

				<button type="button" class="c-button addbutton cell" id="addtask">Add</button>
			</blaze-accordion-pane>

		</blaze-accordion>
	</caption>

	<thead class="c-table__head">
		<tr class="c-table__row c-table__row--heading">
			<th class="c-table__cell">Task</th>
			<th class="c-table__cell">Status</th>
			<th class="c-table__cell">Prority</th>
			<th class="c-table__cell">TimeLine</th>
			<th class="c-table__cell"></th>
		</tr>
	</thead>
	<tbody class="c-table__body scrollable">
		{{#each taskData as |task|}}
			<tr class="c-table__row c-table__row--clickable task-row" id="modal-{{task.id}}">
				<td class="c-table__cell">{{task.taskName}}</td>
				<td class="c-table__cell">{{task.status}}</td>
				<td class="c-table__cell">{{task.priority}}</td>
				<td class="c-table__cell">{{task.timeline}}</td>
				<td class="c-table__cell">
					<button type="button" class="c-button u-small cell taskEdit" style="background-color: blueviolet;" id="edit-{{task.id}}">Edit</button>
					<button type="button" class="c-button u-small cell taskDel" style="background-color: blueviolet;" id="del-{{task.id}}">Delete</button>
				</td>
			</tr>
			<blaze-modal dismissible id="taskmodal-{{task.id}}">
				<blaze-card>
					<blaze-card-header>
						<h2 class="c-heading u-xlarge">
							Heading
							<div class="c-heading__sub">Sub-heading</div>
						</h2>
					</blaze-card-header>
					<blaze-card-body>
						<p class="c-paragraph">
							Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.
						</p>
					</blaze-card-body>
					<blaze-card-footer>
						<div class="c-input-group">
							<button class="c-button c-button--block c-button--brand">Button</button>
							<button class="c-button c-button--block c-button--info">Button</button>
						</div>
					</blaze-card-footer>
				</blaze-card>
			</blaze-modal>
		{{/each}}

	</tbody>
</table>

<table class="c-table c-table--striped" style="padding: 5px;">
	<caption class="c-table__caption .u-center-block">Comments
		<blaze-accordion class="addtask">
			<blaze-accordion-pane class="addbutton" header="Add Comment">
				<input class="c-field" placeholder="Comment..." type="text" id="commentInput" />
				<button type="button" class="c-button addbutton cell" id="addComment">Post</button>
			</blaze-accordion-pane>
		</blaze-accordion>

	</caption>
	<thead class="c-table__head">
		<tr class="c-table__row c-table__row--heading">
			<th class="c-table__cell">Comments</th>
			<th class="c-table__cell"></th>
			<th class="c-table__cell"></th>
			<th class="c-table__cell"></th>
		</tr>
	</thead>
	<tbody class="c-table__body scrollable">
		{{#each commentData as |comment|}}
			<tr class="c-table__row c-table__row--clickable comment-row" id="modal-{{comment.id}}">
				<td class="c-table__cell">{{comment.user.name}}</td>
				<td class="c-table__cell">{{comment.content}}</td>
				<td class="c-table__cell">{{comment.date_created}}</td>
				<td class="c-table__cell">{{comment.content}}</td>

			</tr>
		{{/each}}
	</tbody>
</table>

<div role="menu" class="c-card c-card--menu u-large MenuItem" id="projectMenu">

	{{#each projectData as |project|}}
		<button role="menuitem" class="c-card__control c-card__control--width-20" id="{{project.id}}">{{project.name}}</button>
	{{/each}}

	<div role="separator" class="c-card__divider"></div>
	<blaze-accordion>
		<blaze-accordion-pane header="JOIN PROJECT">
			<input class="c-field" placeholder="Project Key" type="text" id="addprojectinput" />
			<button type="button" role="" class="c-card__control" id="joinProjButton">Join PROJECT</button>

		</blaze-accordion-pane>
		<blaze-accordion-pane header="ADD PROJECT">
			<input class="c-field" placeholder="Project Title" type="text" id="addprojectinputtitle" />
			<input class="c-field" placeholder="Project Description" type="text" id="addprojectinputdescription" />

			<button type="button" role="" class="c-card__control" id="addprojButton">Add PROJECT</button>

		</blaze-accordion-pane>
	</blaze-accordion>
</div>
<script src="/js/menu.js"></script>
{{#if logged_in}}
	<script src="/js/logout.js"></script>
{{/if}}