

{{#if loggedIn}}
<div>
    <h3 style="text-align: center">Active Projects</h3>
</div>
    <div class="d-flex justify-content-center" >
    <a href="/project/create" class="ml-auto font-weight-bold" style="font-size: 35px; text-decoration: none;">➕</a>
</div>

<div class="all-projects">
    {{#each projects}}
    <a href="/home/{{id}}" style="text-decoration: none" >
        <div class="projects-container" data-anijs="if: mouseover, do: bounceIn animated">
                <h3>{{name}}</h3>
                <p>{{missions_statement}}</p>
                <p>Manager: {{this.username}}</p>
        </div>
    </a>
    {{/each}}
</div>
{{else}}
<h1>Signup or Log in</h1>
{{/if}}
<script src="/js/logout.js"></script>
<script src="https://anijs.github.io/lib/anijs/anijs-min.js"></script>

